---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: { id: any }) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Base>
  <p>
    <time datetime={post.data.pubDate.toString()}>
      {post.data.pubDate.toLocaleDateString("en-GB")}
    </time> | {remarkPluginFrontmatter.minutesRead} -{" "}
    <a href={`/blog/tags/${post.data?.tags?.join(", ")}`}>
      {post.data?.tags?.join(", ")}
    </a>
  </p>
  <Content />
</Base>
