<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../src/styles.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Guilherme Lopes - Software Developer</title>
  </head>
  <body>
    <main>
      <h1>Guilherme Lopes</h1>
      <p>
        Software developer capable of working on anything that is related to
        programming world. Interested about anything that is related to web
        (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate
        about the world web wide and its aspects.
      </p>
      <h3>Articles about things</h3>
      <ul>
        <li>It's never that simple</li>
      </ul>
      <h3>Projects that I'm proud of</h3>
      <ul>
        <li>RU Menu</li>
      </ul>
    </main>
  </body>
</html>
